.accordion {
  padding: 16px;
}

.accordion_btn {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.accordion_open {
  padding: 7px 4px;
  margin-left: auto;
  position: relative;
  width: 24px;
  height: 24px;
}

.accordion_open_icon {
  display: block;
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
