.accordion {
  padding: 16px;

  &.accordion-filter {
    padding: 12px 0 12px;
    border-bottom: 1px solid #EDEDED;
  }
}

.accordion_btn {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background-color: inherit;
  border: 0;
  cursor: pointer;

  &.open {
    .accordion_open {
      display: block;
    }

    .accordion_close {
      display: none;
    }
  }
}

.accordion_open {
  display: none;
  padding: 7px 4px;
  margin-left: auto;
  position: relative;
  width: 24px;
  //height: 25px;

  &.filter-open {
    width: 18px;
    height: 18px;
  }
}

.accordion_open_icon {
  display: block;
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion_close {
  padding: 7px 4px;
  margin-left: auto;
  position: relative;
  width: 24px;

  &.filter-close {
    width: 18px;
    height: 18px;
  }
}

.accordion_close_icon {
  display: block;
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion_answer {
  padding-top: 16px;
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-gray;

  &.accordion_answer-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.accordion_checkbox {
  accent-color: $color-accent;
  cursor: pointer;
}

.accordion_label {
  cursor: pointer;
}

.accordion_field {
  display: flex;
  align-items: center;
  gap: 8px;
}
