.advantages {
  padding: 83px 0 100px;

  @media (max-width: $mobile-max) {
    padding: 40px 0 40px;
  }
}

.advantages_inner {
  @include inner;
}

.advantages_title {
  @include title;
  margin-bottom: 56px;
}

.advantages_list {
  margin-top: 24px;
  display: flex;
  gap: 30px;

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.advantages_item {
  flex-basis: calc(33.33% - 60px / 3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  text-align: center;
  border-right: 1px solid #C4CDD5;
  border-left: 1px solid #C4CDD5;

  @media (max-width: $mobile-max) {
    padding: 24px 28px;
    row-gap: 16px;
    box-shadow: none;
    border-top: 1px solid #C4CDD5;
    border-bottom: 1px solid #C4CDD5;
  }
}

.advantages_visual {
  width: 82px;
  height: 82px;

  @media (max-width: $mobile-max) {
    width: 64px;
    height: 64px;
  }
}

.advantages_icon {
  width: 100%;
}

.advantages_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;

  @media (max-width: $mobile-max) {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}
