.categories {
  padding-bottom: 100px;
  text-align: center;

  @media (max-width: $mobile-max) {
    padding-bottom: 40px;
  }
}

.categories_inner {
  @include inner;
}

.categories_title {
  @include title;
}

.categories_sort {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: $mobile-max) {
    margin: 24px 0 24px;
    column-gap: 20px;
    row-gap: 24px;
  }
}

.categories_item {
  position: relative;
  flex-basis: calc(50% - 40px / 2);
}

.categories_image {
  display: inline-block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories_info {
  padding-left: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-align: left;
}

.categories_purpose {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}

.categories_btn {
  padding: 12px 78px;
  margin-right: auto;
  display: inline;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
  border: 1px solid #454F5B;
  border-radius: 2px;

  @media (max-width: $mobile-max) {
    display: none;
  }
}
