.form {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.form_field {
  height: 50px;
}

.form_input {
  padding: 12px 0 12px 16px;
  display: inline-block;
  background-color: rgba(#161C240A, .04);
  border: 0;
}

.form_btn {
  padding: 12px 70px;
  text-decoration: none;
  color: #fff;
  background-color: #4295E4;
  border: 0;
}
