.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0 20px;
  box-shadow: 0px -1px 0px 0px #C4CDD5 inset;
  background-color: #fff;
}

.header_inner {
  @include inner;
}

.header_block {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 50px;
  height: 42px;
  display: inline-block;
}

.logo {
  width: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_list {
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 24px;
}

.header_link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
