.links {
  margin-left: auto;
  padding-bottom: 55px;
}

.links_sort {
  display: flex;
  flex-direction: row;
  gap: 97px;
  list-style: none;
  color: #fff;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    gap: 24px;
  }
}

.links_row {
  display: flex;
  gap: 97px;

  @media (max-width: $mobile-max) {
    justify-content: space-between;
    gap: 34px;
  }
}

.links_row-reverse {
  @media (max-width: $mobile-max) {
    flex-direction: row-reverse;
  }
}

.links_link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;

  @media (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 24px;
  }
}

.links_sort_item {
  @media (max-width: $mobile-max) {
    flex-basis: calc(50% - 68px / 2);
  }
}

.links_sort_title {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;

  @media (max-width: $mobile-max) {
    font-size: 20px;
    line-height: 30px;
  }
}

.links_list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.links_heading {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #C4CDD5;

  @media (max-width: $mobile-max) {
    font-size: 12px;
    line-height: 14px;
  }
}
