.menu {
  display: flex;

  @media (max-width: $mobile-max) {
    display: none;

    &.menu-mobile {
      margin-bottom: 400px;
      display: block;
    }
  }
}

.menu_list {
  margin-left: 101px;
  display: flex;
  column-gap: 32px;
  list-style: none;

  @media (max-width: $mobile-max) {
    margin-left: 0;
    flex-direction: column;
    gap: 16px;
  }
}

.menu_item {
  @media (max-width: $mobile-max) {
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;
  }
}

.menu_link {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  text-decoration: none;
  color: black;

  @media (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 26px;
    color: $color-gray;
  }
}

.menu_btn {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  background-color: inherit;
  border: 0;
  cursor: pointer;

  @media (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 26px;
  }
}

.menu_btn_icon {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;

  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('../images/menu-icon.svg');
    background-position: center;
    background-repeat: no-repeat;

  }
}

.menu_fade {
  display: none;

  @media (max-width: $mobile-max) {
    padding: 24px 16px 0 16px;
    left: 0;
    width: 100%;
    height: fit-content;
    position: fixed;
    background-color: #fff;
  }
}

.menu_phone {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_call {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: $color-accent;
}
