.pay {
  padding: 40px 0 0;

  @media (max-width: $mobile-max) {
    padding: 32px 0 0;
  }
}

.pay_inner {
  @include inner;
}

.pay_title {
  @include title;
  margin-bottom: 24px;
  text-align: left;

  @media (max-width: $mobile-max) {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
}

.pay_row {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}


.pay_icon {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.pay_icon_item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.pay_type {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.pay_text {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-gray;

  @media (max-width: $mobile-max) {
    line-height: 22px;
  }
}

.pay_text-border {
  margin-bottom: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #C4CDD5;

  @media (max-width: $mobile-max) {
    padding-bottom: 32px;
  }
}
