.reasons {
  padding: 100px 0 100px;
  background-color: #F2F8FF;
}

.reasons_inner {
  @include inner;
}

.reasons_title {
  @include title;
  margin-bottom: 64px;
  text-align: left;
}

.reasons_row {
  display: flex;
  gap: 82px;
}

.reasons_image {
  width: 100%;
}

.reasons_icon {
  width: 56px;
  height: 56px;
  border: 1px solid #4295E44D;
  border-radius: 50%;
}

.icon_visual {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.reasons_line {
  width: 56px;
  flex-shrink: 0;

  &::after {
    content: '';
    width: 1px;
    margin-left: 50%;
    display: block;
    height: 76px;
    background-color: #C4CDD5;
  }
}

.reasons_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.reasons_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reasons_heading {
 font-size: 20px;
 font-weight: 600;
 line-height: 32px;
}

.reasons_desc {
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;
}
