// Fonts
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors

$color-dark: #161C24;
$color-gray: #454F5B;
$color-light-gray: #A4A4A4;
$color-accent: #4295E4;
$color-hover: #56A9F8;
$color-click: #2E81D0;
$color-bg: #0D2436;

// indents

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desctop: 1280px;

$mobile-max: $tablet - 1px;
$tablet-max: $desctop - 1px;
